/*Main.css*/
/*CSS file for main page of website*/
body
{
    /*Background*/
    background: rgb(119,199,201);
    background: -moz-linear-gradient(90deg, rgba(119,199,201,1) 0%, rgba(95,158,160,1) 25%, rgba(95,116,160,1) 50%, rgba(69,84,116,1) 75%, rgba(37,44,60,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(119,199,201,1) 0%, rgba(95,158,160,1) 25%, rgba(95,116,160,1) 50%, rgba(69,84,116,1) 75%, rgba(37,44,60,1) 100%);
    background: linear-gradient(90deg, rgba(119,199,201,1) 0%, rgba(95,158,160,1) 25%, rgba(95,116,160,1) 50%, rgba(69,84,116,1) 75%, rgba(37,44,60,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#77c7c9",endColorstr="#252c3c",GradientType=1);
    /*Font and Text*/
    font-size: large;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    /*Margins and Padding*/
    margin: 0;
    padding: 0;
}
header  
{ 
    /*Margins and Padding*/
    padding: 10px; 
    background-color: rgba(26, 26, 26, .5);    
}
header nav
{
    /*Font and Text*/
    color: white;
    /*Alignment*/
    list-style-type: none;
}
header nav ul
{
    /*Margins and Padding*/
    margin: 10px;
    padding: 0;
    /*Font and Text*/
    text-align: center;
}
header nav ul li
{
    /*Alignment*/
    display: inline-block;
    /*Margins and Padding*/
    margin-right: 30px;
}
h1
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    width: 100%;
    border-bottom: 0;
    box-shadow: 0 0 0 transparent;
}
a 
{ 
    /*Font and Text*/
    text-decoration: none; 
    color:white 
}
a:visited 
{ 
    /*Font and Text*/
    text-decoration: none; 
    color: white;
}
a:hover 
{ 
    /*Font and Text*/
    text-decoration: none; 
    color: rgba(255, 255, 255, .75) 
}
div h1
{
    text-align: center;
}